node_modules/
*.swp
*.swo
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/screenshot/*

tests/uploadFiles/*

note/correct.txt
note/error.txt
note/t0.txt
note/t1.txt
log.txt
note/ssssss.txt

.bosidian/*

